<%= form_for @room do |f| %>
  <p>
    <%= f.label :Room_type %>
    <%= f.text_field :Room_type %>
  </p>
  <p>
    <%= f.label :Usage %>
    <%= f.text_field :Usage %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>